* {
    font-family: monospace;
}

#deck {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.card {
    text-align: center;
    height: 300px;
    width: 200px;
    padding: 10px;
    margin: 10px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 10px 8px 4px rgba(15, 15, 15, 0.294);
}


.suitValue,
.value {
    display: flex;
    justify-content: flex-start;
    font-size: 24px;
    font-weight: 700;
    margin-left: 5px;
}

.middle {
    position: relative;
    top: 20%;
    font-size: 60px;
}

.hearts {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: red;
}

.diamonds {
    color: red;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.clubs {
    color: black;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.spades {
    color: black;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}